<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lhwei.test">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService"
            android:label="@string/app_name">

        </service>

        <activity android:name=".MainActivity">  </activity>
        <activity android:name=".ChooseSpot">  </activity>
        <activity android:name=".ChooseSpot1">  </activity>
        <activity android:name=".NowData">  </activity>
        <activity android:name=".THistory">  </activity>
        <activity android:name=".HHistory">  </activity>
        <activity android:name=".GHistory">  </activity>
        <activity android:name=".PersonInfo">  </activity>
        <activity android:name=".AdminMain">  </activity>
        <activity android:name=".AdminUserManagement">  </activity>
        <activity android:name=".AdminRoomManagement">  </activity>
        <activity android:name=".AdminLogManagement">  </activity>
        <activity android:name=".AdminAddUser">  </activity>
        <activity android:name=".ChangePassword">  </activity>
        <activity android:name=".AdminDeleteUser"> </activity>
        <activity android:name=".AdminSelectUser"> </activity>
        <activity android:name=".TestChooseSpot">  </activity>
        <activity android:name=".AdminChangeOtherPassword">  </activity>
        <activity android:name=".AdminChangeOtherName">  </activity>
        <activity android:name=".AdminChangeOtherNo">  </activity>
        <activity android:name=".AdminChangeOtherSex">  </activity>
        <activity android:name=".AdminChangeOtherInfo">  </activity>
        <activity android:name=".AdminChooseSpot">  </activity>
        <activity android:name=".AdminUpdateRoomInfo">  </activity>
        <activity android:name=".AdminSelectRoom">  </activity>



    </application>

</manifest>
